.navBar {
  display: flex;
  align-items: center;
}

.heading {
  color: white;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 37px;
}

@media (max-width: 650px) {
  .heading {
    font-size: 29px;
  }
}
