.displayTime {
  display: flex;
  margin: 0 auto;
  background: rgb(252, 196, 116);
  background: linear-gradient(
    147deg,
    rgba(252, 196, 116, 1) 4%,
    rgba(183, 82, 193, 1) 48%,
    rgba(71, 88, 209, 1) 96%
  );
  height: 400px;
  border-radius: 20px;
  color: #000100;
  font-size: 9rem;
  justify-content: center;
  gap: 1rem;
  margin-top: 16px;
  border: black solid 1px;
}

.timeComponent {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  flex-basis: 20%;
}

.millisecond {
  font-size: 6rem;
}

.colonBox {
  display: flex;
  align-items: center;
}

.colon {
  font-size: 7rem;
  margin-bottom: 18px;
}

@media (max-width: 1110px) {
  .displayTime {
    font-size: 7rem;
    margin-top: 0;
  }
  .millisecond {
    font-size: 5rem;
  }
}

@media (max-width: 980px) {
  .displayTime {
    font-size: 5rem;
  }
  .millisecond {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .displayTime {
    height: 300px;
  }
  .displayTime {
    font-size: 4rem;
  }
  .millisecond {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .colonBox {
    display: none;
  }
  .displayTime {
    flex-direction: column;
    justify-content: flex-start;
    height: 564px;
    gap: 0;
    padding: 20px;
  }
}
