.appContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 1rem;
}

.timerButton {
  background-color: black;
  color: white;
  width: 10%;
  height: 41px;
  position: absolute;
  bottom: 10px;
}
.start {
  left: 129px;
}
.reset {
  left: 275px;
}

.timerButton:hover {
  background-color: black;
  color: white;
}
