.appContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 1rem;
}

.timerButton {
  background-color: black;
  color: white;
  width: 128px;
  height: 41px;
  position: absolute;
  bottom: 10px;
}
.start {
  left: 129px;
}
.reset {
  left: 275px;
}

.squareButton {
  display: none;
}

.timerButton:hover {
  background-color: black;
  color: white;
}

@media (max-width: 800px) {
  .start {
    left: 25%;
  }
  .reset {
    left: 55%;
  }
}

@media (max-width: 500px) {
  .timerButton {
    height: 70px;
    width: 70px;
    bottom: 37px;
  }
  .rectangleButton {
    display: none;
  }
  .squareButton {
    display: unset;
  }
}
